ion-card {
  border-top: 2px solid rgb(119, 245, 157);
 // border-bottom: 2px solid rgb(119, 245, 157);
  border-left: 2px solid rgb(119, 245, 157);
//  border-right: 2px solid rgb(119, 245, 157);
}
.text{
  color:rgb(149, 126, 160);
}
.textError{
  color: rgb(216, 70, 65);
}
